* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #004d40;
}

header {
  min-width: 360px;
}

/* input:invalid {
  border: 1px solid red;
} */

.text-muted {
  display: block;
}

.error {
  color: red;
  font-size: 0.7em;
}

#login #invalid {
  background: #f44336;
  color: white;
  border-radius: 3px;
  transition: 0.3s;
  padding: 3px 10px;
  display: inline-block;
  font-size: 0.8em;
}

#login .invalidClose {
  font-size: 1.5em;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

#logoText {
  letter-spacing: -8px;
  text-shadow: 2px -2px 2px #000000;
}

#contactDetails {
  margin: 0 auto;
  text-align: right;
  width: 80%;
  position: absolute;
  top: 50%;
  right: 3%;
}

.cont,
#contactDetails {
  display: inline-block;
}

.cont {
  margin-left: 10px;
}

#lCont {
  display: inline-block;
  width: 65px;
  margin-left: 10px;
  /* background: gray; */
}

#c {
  font-size: 0.9em;
}

#a {
  font-size: 0.7em;
}

#c #a #logo,
h3 {
  display: inline-block;
}

#t {
  font-size: 1.5em;
  letter-spacing: -18px;
}

.fab {
  font-size: 1.4em;
  color: #263238;
}

#logo {
  border-bottom: 1px solid black;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#contactDetails span {
  display: none;
  color: #263238;
}

#app-name {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

/************************
NAVIGATION
***********************/
#link {
  color: white;
  font-size: 1.2em;
}

#link:hover {
  color: black;
}

.navbar {
  text-align: right;
  top: 80px;
  position: fixed;
  right: 0;
  left: 0;
  background: #00838f;
  z-index: 3;
}

#link.active {
  color: white;
  font-weight: bold;
}

/*************************
MAIN
***************************/

#ask {
  text-align: center;
  padding: 5px;
}

main {
  display: grid;
  /* background: gold; */
  width: 95%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 150px auto 10px auto;
  /* grid-column-gap: 10px; */
}

#login {
  padding: 15px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login p {
  margin-top: 5px;
  /* font-weight: bold; */
  color: rgb(167, 165, 164);
}

#register {
  padding: 15px 10px;
  /* display: none; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardTitle {
  margin-bottom: 15px;
  color: #006064;
  text-align: center;
}

#guide {
  background: #00838f;
  color: white;
  border-radius: 10px;

  padding: 10px 15px;
}

#features {
  background: #69f0ae;
  padding: 10px 15px;
  color: #006064;
  text-align: center;
  border-radius: 10px;
}

#loginRegister,
#features,
#guide {
  margin: 10px 5px;
}

.fas.home {
  color: #00838f;
  font-size: 5em;
}

.icon {
  text-align: center;
}

/******************************
FOOTER
********************************/

footer {
  background: #69f0ae;
  margin: 0;
  overflow: hidden;
  color: #006064;
}

footer li a {
  padding: 15px 10px;
  /* float: right; */
  transition: 0.3s;
  color: #006064;
  font-size: 0.9em;
}

footer li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

footer p {
  margin: 15px 10px;
}

footer ul {
  float: right;
}

footer p,
footer li a,
footer ul,
footer li {
  display: inline-block;
}

/******************************
USER PAGE
**********************************/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 15px;
  /* background: lightgrey; */
  padding: 10px 15px;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 8.33%);
  grid-template-rows: repeat(12, 8.33%);
  color: #006064;
}

#content {
  grid-column: 6/-1;
  position: relative;
  grid-row: 1/-1;
  margin: 0;
  min-height: 600px;
  overflow: auto;
}

.sidenav {
  grid-column: 1/6;
  text-transform: capitalize;
  /* overflow: hidden; */
}

#menu {
  margin-top: 15%;
  text-transform: capitalize;
  grid-row: 7/-1;
}

#pInfo {
  grid-row: 1/6;
  /* margin-bottom: 15px; */
}

.card.links a span {
  font-size: 0.7em;
}

.fas.user,
.far.user {
  font-size: 1.5em;
}

.card.links {
  margin-top: 20px;

  transition: 0.3s;
}

li {
  list-style: none;
  padding: 0;
}

.card.links a {
  display: block;
  padding: 5px;
  font-size: 1.1em;
}

.card.links a:hover,
.card.links a.active {
  color: #006064;
  font-weight: bolder;
}

.smaller-image {
  width: 80%;
  border: 2px solid #006064;
  border-radius: 50%;
}

.image-wrapper {
  text-align: center;
  margin: 15px 0;
}

.profile-img {
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.chats {
  display: block;
  text-transform: capitalize;
  width: 100%;
}

/*****************************
CHAT PAGE
********************************
*******************************/

.well {
  background: white;
  /* padding: 10px; */
  width: 100%;
  max-height: 90%;
  overflow: auto;
  position: relative;
}

.chat-well {
  max-height: 700px;
  overflow: auto;
}

#wellHeader {
  background: #00838f;
  padding: 5px 15px;
  position: sticky;
  color: white;
}

#back {
  position: absolute;
  display: inline-block;
  right: 10px;
  font-size: 1.5em;
}

.msgIn,
.msgOut {
  display: inline-block;
  color: black;
  border-radius: 5px;
  position: relative;
  margin: 10px;
  padding: 5px;
  width: 50%;
}

.msgIn::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #bdbdbd transparent transparent;
}

.msgOut::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #80d8ff;
}

.msgIn {
  background: #bdbdbd;
}

.msgOut {
  float: right;

  background: #80d8ff;
}

#wellFooter {
  background: #00838f;
  padding: 10px;
  left: 0;
  /* height: 5%; */
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn.send {
  float: right;
}

.typeSpace {
  border-radius: 10px;
  resize: none;
  border: none;
  height: 50px;
  padding: 5px;
  width: 70%;
}

.well-container {
  height: 100%;
  width: 100%;
}

.timeStamp {
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  text-align: right;
}

/*****************************
FRIENDS
*********************************/
.profile-imgS {
  width: 100px;
  border: 2px solid white;
  border-radius: 50%;
}

.fa-check,
.fa-times,
.fa-user-plus {
  font-size: 1.5em;
  cursor: pointer;
}

.sent {
  color: #00c853;
}

.empty {
  font-size: 1.5em;
  color: #006064;
  width: 60%;
  text-align: center;
  margin: auto;
}

.empty button.btn {
  background: #69f0ae;
  color: #006064;
  border-color: #69f0ae;
}

.empty button.btn:hover {
  background: #529c78;
  color: white;
  border-color: #529c78;
}

/******************************
MEDIA QUERIES
*********************************/
@media only screen and (max-width: 450px) {
  .main {
    display: block;
  }

  #content {
    margin: 15px 0;
    padding: 0;
  }

  .well-container {
    display: grid;
  }

  /* #menu {
    grid-row: 4/8;
  } */
}

@media only screen and (min-width: 800px) {
  #contactDetails span {
    display: inline;
  }
}

@media only screen and (min-width: 850px) {
  #content {
    grid-column: 4/10;
    grid-row: 1/-1;
  }

  #pInfo {
    grid-column: 1/4;
    /* overflow: hidden; */
  }

  .card.links {
    margin-top: 0;
  }

  #menu {
    grid-row: 1/6;
    margin-top: 0;
    margin-left: 15px;
    grid-column: 10/-1;
  }
}

@media only screen and (min-width: 600px) {
  .card.links a span {
    font-size: 0.8em;
  }
  #home {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar-collapse {
    position: relative;
  }

  .navbar-nav {
    position: absolute;
    right: 0;
  }

  /* .home {
    position: absolute;
    left: 10px;
  } */
}
